SpriteTypes = {
    {% for sprite in sprite_array %}SpriteType = { name = "{{sprite['name']}}_shine" texturefile = "{{sprite['texturefile']}}"   effectFile = "gfx/FX/buttonstate.lua"        legacy_lazy_load = no
        animation = { animationmaskfile = "{{sprite['texturefile']}}"    animationtexturefile = "gfx/interface/goals/shine_overlay.dds"   animationrotation = -90.0 animationlooping = no    animationtime = 0.75 animationdelay = 0    animationblendmode = "add" animationtype = "scrolling" animationrotationoffset = { x = 0.0 y = 0.0 } animationtexturescale = { x = 1.0 y = 1.0 } }
        animation = { animationmaskfile = "{{sprite['texturefile']}}"    animationtexturefile = "gfx/interface/goals/shine_overlay.dds"   animationrotation = 90.0 animationlooping = no    animationtime = 0.75 animationdelay = 0    animationblendmode = "add" animationtype = "scrolling" animationrotationoffset = { x = 0.0 y = 0.0 } animationtexturescale = { x = 1.0 y = 1.0 } }
    }
    {% endfor %}}